body {
    height: 100vh;
    margin: 0;
    display: block;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #ff0000, #ffa600, #00fff2);
}

    h1{font-family: garamond;}

    img{border-radius: 100%;
    text-align: center;
    width: 20vh;
    margin: 7vh;
    box-shadow:0px 10px 45px ;}

     .algo{ background: rgba(255,255,255,0.3);
    padding: 30px;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 40 40px 45px rgba;
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
     }

     input{width: 350px;
            height: 40px;
            border-color: white;
            border-radius: 9px;}

    .myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    width: 300px;
    height: 25px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}